# ----------------------
# BACKEND (.NET - C#)
# ----------------------
BACK/bin/
BACK/obj/
BACK/**/bin/
BACK/**/obj/
BACK/.vs/
BACK/.vscode/
BACK/*.user
BACK/*.suo
BACK/*.userosscache
BACK/*.sln.docstates
BACK/TestResults/
BACK/packages/
BACK/*.ncrunch*
BACK/*.localhistory/
BACK/*.resharper/
BACK/**/appsettings.Development.json
BACK/**/appsettings.Local.json
BACK/**/secrets.json
appsettings.json
*.csproject
*.pem
*.user
appsettings.Production.json
# ----------------------
# FRONTEND (Angular)
# ----------------------
FRONT/node_modules/
FRONT/.angular/
FRONT/.angular/cache/
FRONT/dist/
FRONT/tmp/
FRONT/.vscode/
FRONT/.env
FRONT/.env.*
*.config

# ----------------------
# Sistema
# ----------------------
.DS_Store
Thumbs.db
desktop.ini

# ----------------------
# Logs e backups
# ----------------------
*.log
*.tsbuildinfo
logs

# ----------------------
# Editor configs
# ----------------------
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
*.code-workspace
