<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-10 bg-white rounded-lg shadow-md">

    <h2 class="mb-6 text-2xl font-semibold text-center">Formulário</h2>

    <form [formGroup]="formulario" class="space-y-5">

      <div>
        <app-formulario
        *ngFor="let item of campos"
        [configuracao]="item"
        [form]="formulario">
        ></app-formulario>
      </div>

      <div>
        <p-button pButton type="submit" label="Enviar" class="w-full" (onClick)="enviar()"></p-button>
      </div>
    </form>
  </div>
</div>
